.heading{

    color: blanchedalmond;
}
.parent{
height: 150px;
margin: 20px;
padding:20px;
background-color: blue;
justify-content: space-between;
display:flex ;
align-items: center;
justify-content: center;



}





.child2{
    height: 40px;
    width: 40px;
    background-color: azure;
}
.box-img{
width:30px;
border-radius: 15px;
height: 50px;



}
h3{
    margin: 0%;
}
h5{
    margin: 0%;
}
.parent{
background-color: blue;
display:flex;
justify-content: space-between;
margin: 50px;
}
.container{
    background-color: blue;
    height: 500px;
    display:flex;
padding: 10px;
justify-content: space-between;
}
.box1{
    height: 100px;
    width: 100px;
    background-color: antiquewhite;
    border: 2px solid gray;
    flex: 3;
}
.box2{ height: 100px;
    width: 100px;
    background-color: antiquewhite;
    border: 2px solid gray;
flex: 6;
}
