.container {
  display: flex;
  gap: 40px;
  padding: 20px;
}

.left {
  width: 300px;
}

.right {
  flex: 1;
}

input, select, button {
  width: 100%;
  margin-bottom: 10px;
  padding: 6px;
}

.card {
  width: 250px;
  border: 1px solid #ccc;
  padding: 10px;
}

.card img {
  width: 100%;
}
